p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*==============================Hero============================ */
.hero {
  max-width: 1440px;
  padding-top: 341px;
  padding-bottom: 40px;
  background-image: url(../image/room-2-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/room-2-mobile-2x.jpg);
  }
}
.container {
}
.hero-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(32 / 28);
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 14px;
}
.hero-after-titel {
  max-width: 325px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 30px;
}
.open-prices {
  width: 232px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding: 14px 35px;
  color: #f3c653;
}
/*==============================Ameniries=============================== */
.amenities {
  padding-top: 32px;
  padding-bottom: 32px;
}
.container {
}
.amenities-titel {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(37 / 32);
  color: #000000;
  margin-bottom: 16px;
}
.amenities-after-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-bottom: 32px;
}
.amenities-list {
}
.amenities-item {
  margin-bottom: 32px;
}
.amenities-item-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #000000;
  margin-bottom: 16px;
}
.amenities-text {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.amenities-item-after-titel {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.reserve-btn {
  width: 100%;
  padding-top: 20px;
  padding-left: 43px;
  padding-right: 43px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: #ffffff;
  background: #000000;
  border: 1px solid #f3c653;
  border-radius: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}
.return-numbers {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
  color: #c79002;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 16px;
}
.return-numbers-icon {
  fill: #c79002;
  margin-left: 12px;
}

/* ===============================*/
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
  /*==============================Hero============================ */
  .open-prices {
    margin-left: 94px;
  }
  /*==============================Ameniries=============================== */
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
  /*==============================Hero============================ */
  .hero {
    padding-top: 353px;
    padding-bottom: 102px;
    background-image: url(../image/room-2-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../image/room-2-tablet-2x.jpg);
    }
  }
  .hero-titel {
    font-size: 36px;
    line-height: calc(41 / 36);
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .hero-after-titel {
    max-width: 400px;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 0;
  }
  .hero-text-btn {
  }
  .open-prices {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
    border-radius: 25px;
  }
  /*==============================Ameniries=============================== */
  .amenities {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .amenities-after-titel {
    width: 757px;
  }
  .amenities-item-after-titel {
    width: 400px;
  }
  .amenities-text {
    gap: 80px;
    flex-wrap: nowrap;
  }
  .reserve-btn {
    width: 434px;
    padding-top: 18px;
    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 18px;
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-bottom: 32px;
  }
  .return-numbers {
    font-size: 20px;
    line-height: calc(24 / 20);
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
  /*==============================Hero============================ */
  .hero-text-btn{
    display: flex;
    align-items: center;
    gap: 478px;
  }
  .open-prices{
    margin-left: 0;
  }
}
